@import "../variables/variable";
@import "../mixin/mixin";




/*================================================================================================================================
                                                            bc_top button start
==================================================================================================================================*/
#bc_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: red;
    z-index: 99999;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    display: none;

    i {
        font-size: 17px;
        color: #fff;
    }
}

/*================================================================================================================================
                                                            bc_top button end
==================================================================================================================================*/