@import "../variables/variable";
@import "../mixin/mixin";




/*================================================================================================================================
                                                            work part start
==================================================================================================================================*/
#work {
    padding: 70px 0;

    .common_head {
        h3 {
            @include ts(#413d4b, 22px, 700, $ff_play);
        }

        p {
            @include ts(#2f2d35, 14px, 400, $ff_play);
            position: relative;

            &::after {
                position: absolute;
                content: '';
                bottom: -17px;
                left: 50%;
                height: 2px;
                width: 50px;
                background: #c6c4c9;
                transform: translateX(-50%);
            }
        }
    }

    .work_menu {
        margin: 50px 0 50px;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                @include ts(#413d4b, 16px, 400, $ff_my);
                padding: 10px;
                border: 1px solid #ddd;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }

    .gallery {
        margin-bottom: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .row_col {
            width: 16.66%;
            max-width: 16.66%;
            height: 200px;
            transition: all linear .3s;

            img {
                width: 100%;
                max-width: 100%;
                height: 200px;
            }
        }
    }

    .link {
        a {
            @include ts(#00e0d0, 16px, 400, $ff_hamm);
            border: 1px solid #00e0d0;
            padding: 9px 27px;
            border-radius: 3px;
        }
    }
}

/*================================================================================================================================
                                                            work part end
==================================================================================================================================*/